mat-toolbar {
  display: grid;
  grid-template-areas: "first second";
  grid-template-columns: 15vw 15vw;
  column-gap: 60vw;
  padding: 0 5vw;
  .first {
    grid-area: first;
  }
  .second {
    grid-area: second;
    display: flex;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    &.active-link {
      color: white;
    }
  }
}
