<mat-toolbar color="accent">
  <span class="first">
    <a routerLink="/" routerLinkActive="active-link">
      <span>Social Posts</span>
    </a>
  </span>
  <span class="second">
    <a
      *ngIf="isAuthenticated"
      routerLink="/posts"
      routerLinkActive="active-link"
    >
      <span>Posts</span>
    </a>
    <a
      *ngIf="!isAuthenticated"
      routerLink="/login"
      routerLinkActive="active-link"
    >
      <span>Login</span>
    </a>
    <a
      *ngIf="isAuthenticated"
      routerLink="/login"
      routerLinkActive="active-link"
      (click)="logout()"
    >
      <span>Logout</span>
    </a>
    <a
      *ngIf="!isAuthenticated"
      routerLink="/signup"
      routerLinkActive="active-link"
    >
      <span>Signup</span>
    </a>
  </span>
</mat-toolbar>
